trigger:
  branches:
    include:
      - main

pool:
  name: local

steps:
  - checkout: self
    persistCredentials: true
    displayName: 'Checkout repository'
    
  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Use Node.js 20'

  - script: |
      npm ci
    displayName: 'Install dependencies'

  - script: |
      npx ng build --configuration production --base-href=/ --output-path=dist/my-app
    displayName: 'Build Angular app (production)'

  - script: |
      set -e

      git config user.name "Azure Pipelines"
      git config user.email "builds@azure-pipelines.local"

      REPO_URL="$(git config --get remote.origin.url)"

      npx angular-cli-ghpages \
         --dir=dist \
         --branch=gh-pages \
         --no-silent \
        --cname=tsunomaki.wata.me \
         --repo="$REPO_URL"
    displayName: 'Deploy to GitHub Pages (gh-pages branch via worktree)'